:root{
    --white-color: #fff;
    --text-color: rgb(43, 42, 42);
    --text-color2: rgb(114, 111, 111);
    --colorOf-border: rgb(187, 183, 183);
    --hover-color: red;
    --second-color: rgb(255, 72, 0);
    --backgr-color: #262728;
}