
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* top header */
.top__header{
    background-color: black;
    height: 44px;
    color: aliceblue;
}
.top__header div{
    font-size: 13px;
    margin-top: 10px;
    /* padding-top: 10px; */
    text-align: center;
}
.top__header-user{
    position: relative;
}
.user-icon{
    font-size: 20px;
}
.like-icon{
    font-size: 20px;
}
.top__header-list a{
    text-decoration: none;
    color: var(--white-color);
}
.top__header-list a:hover{
    color: var(--second-color);
}
.top__header-list, .user-icon, .like-icon{
    cursor: pointer;
}
.user__list{
    position: absolute;
    border-color: rgb(158, 156, 156);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    right: 0;
    background-color: var(--white-color);
    display: none;
    z-index: 3;
}
.top__header-user:hover .user__list{
    display: block;
}
.user__list .row{
    height: 30px;
    width: 120px;
}
.user__list .row a{
    text-decoration: none;
    color: var(--text-color);
    text-align: left;
    padding-left: 18px;
    margin-bottom: 3px;
    padding-top: 0;
}
.user__list .row :hover{
    font-weight: 600;
}
.top__header-cart{
    margin-top: 5px;
    position: relative;
}
.cart-icon {
    font-size: 20px;
}
.cart__list{
    color: var(--text-color);
    position: absolute;
    right: 10px;
    width: 300px;
    border-color: var(--colorOf-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 15px 0;
    display: none;
    top: 22px;
    z-index: 3;
    background-color: #fff;
}
.top__header-cart:hover .cart__list{
    display: block;
}
/* header  */
.header{
    background-color: #fff;
    height: 70px;
    /* position: fixed; */
    z-index: 4;
}
.header__img img{
    max-width: 60%;
    max-height: 95%;
    width: 50%;
    height: auto;
    padding: 10px 0;
}
.header div{
    text-align: center;
    font-size: 16px;
    font-weight: 540;
    padding-left: 3px;
    padding-right: 3px;
}
.header__item{
    padding-top: 25px;
    position: relative;
}
.header__item:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.header__search{
    padding-top: 25px;
}
.header__search:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.header__item-female{
    position: absolute;
    width: 600px;
    border-color: var(--colorOf-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    top: 50px;
    background-color: var(--white-color);
    z-index: 3;
    display: none;
}
.header__item:hover .header__item-female{
    display: block;
}
.header__item-female div div{
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    inherits: ;
}
.header__item-female div div a:hover{
    color: var(--hover-color);
}
.female__list-name{
    text-decoration: none;
    color: var(--text-color);
}
.female__list-clothes{
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color2);
}
.header__item-male{
    position: absolute;
    width: 540px;
    border-color: var(--colorOf-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    top: 50px;
    background-color: var(--white-color);
    z-index: 3;
    display: none;
}
.male__list-name{
    text-decoration: none;
    color: var(--text-color);
}
.header__item-male div div{
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    inherits: ;
}
.header__item-male div div a:hover{
    color: var(--hover-color);
}
.header__item:hover .header__item-male{
    display: block;
}
.header__item-accessory{
    position: absolute;
    width: 540px;
    border-color: var(--colorOf-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    top: 50px;
    background-color: var(--white-color);
    z-index: 3;
    right: 0;
    display: none;
}
.accessory__list-name{
    text-decoration: none;
    color: var(--text-color);
}
.header__item-accessory div div{
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    inherits: ;
}
.header__item-accessory div div a:hover{
    color: var(--hover-color);
}
.header__item:hover .header__item-accessory{
    display: block;
}
/* ImagePoster */
.poster__wrapper{
    /* top: 110px; */
    position: relative;
}
.poster{
    position: relative;
}
.poster i{
    display: block;
    max-width: 988px;
    max-height:400px;
    width: 100%;
    height: auto;
}
.poster button{
    width: 40px;
    height: 40px;
    border-color: var(--colorOf-border);
    border-width: 1px;
    position: absolute;
    top: 47%;
}
.poster button:hover{
    color: var(--hover-color);
}
.poster__prev{
    left: 5%;
}
.poster__next{
    right: 5%;
}
/* New clothes */
.new-product{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.new-product__list div{
    padding-bottom: 20px; 
}
.new-product__select{
    font-weight: 600;
}
.new-product__select:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.new-product__select.active{
    color: var(--second-color);
    text-decoration: underline;
}
.new-clothes{
    position: relative;
    padding-left: 15px;
    padding-right: 0;
}
.new-clothes button{
    width: 40px;
    height: 40px;
    border-color: var(--second-color);
    border-width: 1px;
    position: absolute;
    top: 40%;
}
.new-clothes button:hover{
    color: var(--hover-color);
}
.new-clothes__prev{
    left: 3%;
    color: var(--second-color);
}
.new-clothes__next{
    color: var(--second-color);
    right: 3.6%;
}
.new-clothes__product{
    position: relative;
}
.new-clothes__link{
    text-align: center;
    left: 0;
    position: relative;
}
.new-clothes__info{
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 5px;
    text-align: center;
}
.new-clothes__sale-off{
    background-color: #fcaf17;
    color: red;
    font-size: 14px;
    font-weight: 600;
    width: 18%;
    text-align: center;
    position: absolute;
    top: 0;
}
.new-clothes__new-info{
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    width: 16%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 22%;
}
.new-clothes__like-item{
    background-color: #f58020;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50%;
    width: 12%;
    text-align: center;
    position: absolute;
    top: 2%;
    left: 80%;
}
.new-clothes__price{
}
.new-clothes__discount{
    color: #f58020;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.new-clothes__old-price{
    font-size: 15px;
    text-align: center;
    text-decoration: line-through;
}
.new-clothes__options{
    display: none; 
    background-color: #f58020;
    width: 93%;
    left: 7%;
    bottom: 15%;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0;
}
.options-details{
    text-decoration: none;
    color: var(--white-color);
    font-size: 14px;
    text-align: center;
}
.options-details:hover{
    color: var(--white-color);
    font-weight: 700;
}
.options-buy-now{
    text-decoration: none;
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
}
.options-buy-now:hover{
    color: var(--white-color);
    font-weight: 700;
}
.new-clothes__link:hover .new-clothes__options{
    display: block;
}
/* Brand stuff (Hàng hiệu) */
.brand-stuff{
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0 0px 0;
}
.brand-stuff__info{
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}
.brand-stuff__list{
    width: 100%;
    padding: 0;
    /* position: absolute; */
}
.brand-stuff__clothes{
    position: relative;
    /* padding-top: 100px; */
}
.brand-stuff__button{
    width: 40px;
    height: 40px;
    position: relative;
}
.brand-stuff__prev{
    color: var(--second-color);
    font-size: 35px;
    left: 25%;
    border: none;
    background-color: var(--white-color);
    position: absolute;
    top: -500%;
}
.brand-stuff__next{
    color: var(--second-color);
    font-size: 35px;
    right: 25%;
    background-color: var(--white-color);
    border: none;
    position: absolute;
    top: -500%;
}
.brand-stuff__product{
    position: relative;
}
.brand-stuff__link{
    text-align: center;
    left: 0;
}
.brand-stuff__sale-off{
    width: 34%;
    position: absolute;
    top: 0;
    left: 12%;
}
.brand-stuff__percent{
    background-color: #fcaf17;
    color: red;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}
.brand-stuff__new{
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}
.brand-stuff__like-item{
    background-color: #f58020;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50%;
    width: 12%;
    text-align: center;
    position: absolute;
    top: 1%;
    left: 78%;
}
.brand-stuff__price{
}
.brand-stuff__discount{
    color: #f58020;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.brand-stuff__old-price{
    font-size: 15px;
    text-align: center;
    text-decoration: line-through;
}
.brand-stuff__options{
    display: none; 
    background-color: #f58020;
    width: 100%;
    left: 10%;
    margin-left: 0% !important;
    padding-top: 2px;
    padding-bottom: 2px;
}
.brand-stuff__options .options-details{
    font-size: 12px !important;
}
.brand-stuff__options .options-buy-now{
    font-size: 12px;
}
.brand-stuff__main-clothes{
    position: relative;
}
.brand-stuff__main-link{}
.brand-stuff__main-percent{
    background-color: #fcaf17;
    color: red;
    font-size: 18px;
    font-weight: 600;
    width: 15%;
    text-align: center;
    position: absolute;
    top: 0
}
.brand-stuff__main-new{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 14%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 18%;
}
.brand-stuff__main-options{
    display: none; 
    background-color: #f58020;
    width: 100%;
    left: 10%;
    margin-left: 0% !important;
    padding-top: 2px;
    padding-bottom: 2px;
}
.main-options-details{
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-align: center;
    font-size: 18px;
}
.main-options-details:hover{
    color: #fff;
    font-weight: 700;
}
.main-options-buy-now{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.main-options-buy-now:hover{
    color: #fff;
    font-weight: 700;
}
.brand-stuff__main-new-info{
    
}
.brand-stuff__main-like-item{
    background-color: #f58020;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    border-radius: 50%;
    width: 9%;
    text-align: center;
    position: absolute;
    top: 1%;
    left: 86%;
}
.brand-stuff__main-info{
    text-align: center;
    font-size: 17px;
}
.brand-stuff__price{}
.brand-stuff__main-discount{
    color: var(--second-color);
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}
.brand-stuff__main-old-price{
    text-align: center;
    font-size: 17px;
    text-decoration: line-through;
}
/* center image */
.center__image{
    position: ;
    display: flex;
    bottom: 0;
}
.center__left img{
    width: 98%;
}
.center__right img{
    width: 98%;
}
.store__image-title{
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.store__introduce{
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
}
.store__img{
    margin-bottom: 40px;
}
.store__img div img{
    width: 98%;
}
/* customer care  */
.customer__care{
    width: 100%;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}
.customer__care-item{
    color: var(--text-color);
}
.customer__care-link{
    text-decoration: none;
}
.customer__care-icon{
    padding-right: 0;
    padding-left: 10px;
}
.customer__care-icon i{
    color: var(--text-color);
    font-size: 35px;
    text-align: right;
    padding-right: 0;
}
.customer__policy-title{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
}
.customer__policy-description{
    font-size: 12px;
    color: var(--text-color);
    text-decoration: none;
}
.customer__policy-title:hover{
    color: var(--second-color);
}
/* Footer */
.footer{
    background-color: var(--backgr-color);
    color: var(--white-color);
}
.footer__register-title{
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer__register-description{
    font-size: 13px;
}
.register__email{
    padding-top: 20px;
    display: flex;
    font-size: 16px;
    padding-left: 10%;
}
.email__input{
    width: 60% !important;
    padding-right: 0;
    margin-right: 0;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.email__check{
    background-color: var(--second-color);
    width: 25% !important;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--white-color);
}
.connect-title{
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
}
.social-network img{
    width: 95%;
}
.main-footer{
    padding-top: 20px;
}
.logo-fiona{
    width: 70%; 
    padding-left: 30%;
}
.main-footer__title{
    font-size: 15px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
}
.main-footer__description{
    font-size: 13px;
    padding-top: 10px;
}
.fiona__info{
    margin-left: 10px !important;
}
.fiona__info-link{
    text-decoration: none;
    color: var(--white-color);
    margin-left: 10px;
    margin-top: 20px; 
}
.fiona__info-link:hover{
    color: var(--second-color);
}
.img-login {display: block; margin-left: auto; margin-right: auto;}

.link_detail{
    padding-bottom: 20px;
}
.link_detail a{
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}
.link_detail i{
    font-size: 11px;
    color: var(--text-color2);
}
.main_picture img{
    width: 95%;
}
.description{
    padding-left: 12px;
    font-weight: 700;
    padding-bottom: 12px;
}
.clothes__ID{
    margin-left: 0;
}
.clothes__status{
    width: 20%;
    margin-right: 0;
    padding-right: 0;
}
.clothes__status-result{
    color: var(--second-color);
    font-weight: 600; 
    width: 20%;
    padding-left: 5px;
}
.price__current{
    color: var(--second-color);
    font-weight: 700;
    font-size: 18px;
}
.price__old{
    color: var(--text-color);
    font-size: 17px;
    text-decoration: line-through;
}
.price__discount{
    color: var(--hover-color);
    font-weight: 600;
    width: 80%;
    text-decoration: underline;
    font-size: 17px;
}
.clothes__color{
    background-color: #f5f5dc;
    border-radius: 5px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
}
.clothes__size{
    font-weight: 600;
}
.clothes__size:hover{
    font-weight: 700;
    cursor: pointer;
    color: var(--second-color);
}
.clothes__size.selected{
    font-weight: 700;
    color: red;
}
.clothes__number{
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid var(--text-color2);
}
.clothes__number-minus{
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid var(--text-color2);
}
.clothes__number-plus{
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid var(--text-color2);
}
.detail__option-card a:hover{
    background-color: rgb(250, 111, 57);
    color: var(--white-color);
}
.detail__option-card a{
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    width: 90%;
    background-color: var(--second-color);
    font-size: 17px;
    padding: 3px 7px;
    font-weight: 600;
}
.detail__option-buy a:hover{
    background-color: rgb(212, 207, 207);
    color: var(--second-color);
}
.detail__option-buy a{
    align-items: center;
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--second-color);
    width: 90%;
    font-size: 17px;
    padding: 3px 23px;
    font-weight: 600;
    border: 1px solid var(--second-color);
}
.detail__note{
    font-size: 14px;
    padding-bottom: 10px;
}
.detail__note div i{
    color: green;
    font-size: 18px;
    font-weight: 600;
    padding-left: 12px;
}
.detail__note div{
    padding-left: 0;
}
.detail__description{
    font-size: 13px;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 99%;
}

/* search html  */
.search_list{
    font-size: 17px;
    color: var(--text-color);
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 12px;
}
.search_item{
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color2);
    padding-top: 3px;
}
.search_item:hover{
    color: var(--second-color);
}